body{
   background-color: #ffffff; 
}
.fra{
    
    font-size: 16px;
    font-family: Arial;
    color: #000000;
    text-align:center;
}
.fra2{
   color: FFFFFF;
    font-size: 16px;
    font-family: Arial;
    color: rgb(15, 15, 15);
    font-style: oblique;
    text-align:center;
}
