body{
   background-color: #1a1a1a; 
}
.fra{
    font-size: 16px;
    font-family: Arial;
    color: azure;
    text-align:center;
}
.fra2{
    font-size: 16px;
    font-family: Arial;
    color: antiquewhite;
    font-style: oblique;
    text-align:center;
}